# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db
instance/

# Uploads
uploads/

# Environment Variables
.env

# VS Code
.vscode/

# JetBrains
.idea/

# Temporary Files
scratch/
text.txt

# OS Files
.DS_Store
Thumbs.db
cleanup_database.py
test_ats.py
test_embeddings.py
test_feedback.py